<div class="productEditContainer">
    <form
        class="productEditForm"
        [formGroup]="editProductForm"
        (ngSubmit)="onFormSubmit()"
    >
        <span
            class="formInputError"
            *ngIf="editProductForm.get('nameValue')?.invalid"
            >* Введите корректное имя</span
        >
        <tui-input
            tuiTextfieldExampleText="Field placeholder"
            formControlName="nameValue"
            tuiHintContent="A tooltip"
            >Имя товара
        </tui-input>

        <span
            class="formInputError"
            *ngIf="editProductForm.get('moneyValue')?.invalid"
            >* Введите корректную сумму</span
        >
        <tui-input-number
            formControlName="moneyValue"
            [postfix]="'RUB' | tuiCurrency"
        >
            Стоймость
        </tui-input-number>

        <tui-select formControlName="countryValue" [valueContent]="value">
            Страна изготовитель
            <ng-template tuiDataList>
                <tui-data-list>
                    <button
                        *ngFor="let item of countries"
                        tuiOption
                        [value]="item"
                    >
                        <div>{{ item.name }} {{ item.emoji }}</div>
                    </button>
                </tui-data-list>
            </ng-template>
        </tui-select>

        <span
            class="formInputError"
            *ngIf="editProductForm.get('developerValue')?.invalid"
            >* Введите корректное наименование</span
        >
        <tui-input
            tuiTextfieldExampleText="Изготовитель"
            formControlName="developerValue"
            tuiHintContent="A tooltip"
        >
            Наименование
        </tui-input>

        <span
            class="formInputError"
            *ngIf="editProductForm.get('colorValue')?.invalid"
            >* Введите корректный цвет</span
        >
        <tui-input
            tuiTextfieldExampleText="Цвет"
            formControlName="colorValue"
            tuiHintContent="A tooltip"
        >
            Цвет
        </tui-input>

        <span
            class="formInputError"
            *ngIf="editProductForm.get('placeValue')?.invalid"
            >* Введите корректный номер ячейки</span
        >
        <tui-input
            tuiTextfieldExampleText="Ячейка"
            formControlName="placeValue"
            tuiHintContent="A tooltip"
        >
            Ячейка
        </tui-input>
        
        <span
            class="formButtonError"
            *ngIf="editProductForm.errors?.['dataInputed']"
            >* Введите хотя бы одно поле для редактирования</span
        >
        <button
            tuiButton
            type="submit"
            appearance="primary"
            size="m"
            class="productEditButton"
            [disabled]="editProductForm.errors?.['dataInputed']"
        >
            Добавить товар
        </button>
    </form>
</div>

<ng-template #value let-data>
    <div class="countryNametemplate">
        <div class="name">{{ data.name }} {{ data.emoji }}</div>
    </div>
</ng-template>
