<div class="productEditContainer">
    <form
        class="productEditForm"
        [formGroup]="editProductForm"
        (ngSubmit)="onFormSubmit()"
    >
        <tui-select formControlName="productValue" [valueContent]="value">
            Товар
            <ng-template tuiDataList>
                <tui-data-list>
                    <button
                        *ngFor="let item of _itemlist"
                        tuiOption
                        [value]="item"
                    >
                        <div>{{ item.name }}</div>
                    </button>
                </tui-data-list>
            </ng-template>
        </tui-select>

        <tui-select
            class="statusInput"
            tuiTextfieldSize="l"
            formControlName="statusValue"
            [tuiTextfieldCleaner]="true"
            [(ngModel)]="statusModel"
        >
            Статус товара
            <input tuiTextfield placeholder="Статус товара" />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="['Доступен', 'Списан', 'Не доступен']"
            ></tui-data-list-wrapper>
        </tui-select>

        <span
            class="formButtonError"
            *ngIf="!editProductForm.valid"
            >* Выберите поля для редактирования</span
        >
        <button
            tuiButton
            type="submit"
            appearance="primary"
            size="m"
            class="productEditButton"
            [disabled]="!editProductForm.valid"
        >
            Добавить товар
        </button>
    </form>
</div>

<ng-template #value let-data>
    <div class="countryNametemplate">
        <div class="name">{{ data.name }}</div>
    </div>
</ng-template>
