<app-header>  
    <nav NavigationMenu class="nav-menu">
    <button 
      tuiButton
      type="button"
      appearance="primary"
      size="m"
      class="header-button"
    >
    <span class="header-button-text">Получение товаров</span>
    </button>
    <button
      tuiButton
      type="button"
      appearance="primary"
      size="m"
      class="header-button"
      >
    <span class="header-button-text">Добавление товаров</span>
  </button>
  </nav>
  </app-header>

  <table 
    tuiTable
    [columns]= "columns"
    >
    <thead>
      <tr tuiThGroup>
      <th *tuiHead="'id'" tuiTh [resizable]="true">
        Id
      </th>
      <th *tuiHead="'name'" tuiTh [resizable]="true">
        Name
      </th>
      <th *tuiHead="'cost'" tuiTh [resizable]="true">
        Cost
      </th>
      <th *tuiHead="'color'" tuiTh [resizable]="true">
        Color
      </th>
      <th *tuiHead="'country'" tuiTh [resizable]="true">
        Country
      </th>
      <th *tuiHead="'sector'"tuiTh [resizable]="true">
        Sector
      </th>
      <th *tuiHead="'letter'"tuiTh [resizable]="true">
        Letter
      </th>
      <th *tuiHead="'occupied'"tuiTh [resizable]="true">
        Occupied
      </th>
    </tr>
    </thead>
    <tbody
    tuiTbody
    [data]="_itemlist">
      <tr *ngFor="let item of _itemlist; let index=index" tuiTr>
        <td *tuiCell="'id'" tuiTd>{{item.id}}</td>
        <td *tuiCell="'name'" tuiTd>{{item.name}}</td>
        <td *tuiCell="'cost'" tuiTd>{{item.cost}}</td>
        <td *tuiCell="'color'" tuiTd>{{item.color}}</td>
        <td *tuiCell="'country'" tuiTd>{{item.country}}</td>
        <td *tuiCell="'sector'" tuiTd>{{item.placement.sector}}</td>
        <td *tuiCell="'letter'" tuiTd>{{item.placement.letter}}</td>
        <td *tuiCell="'occupied'" tuiTd>{{item.placement.occupied}}</td>
    </tr>

    </tbody>
  </table>
<!-- 
  <table
  tuiTable
  [columns]= "['name']">

  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'name'" tuiTh >
        Id
      </th>
    </tr>
    </thead>
  <tbody tuiTbody>
      <tr tuiTr>
        <td tuiTd>
          test
        </td>
      </tr>
    </tbody>
  
</table> -->