<div class="productCreateContainer">
    <form
        class="productCreateForm"
        [formGroup]="addProductForm"
        (ngSubmit)="onFormSubmit()"
    >
        <span
            class="formInputError"
            *ngIf="addProductForm.get('nameValue')?.invalid"
            >* Введите корректное имя</span
        >
        <tui-input
            tuiTextfieldExampleText="Field placeholder"
            formControlName="nameValue"
            tuiHintContent="A tooltip"
            >Имя товара
        </tui-input>

        <span
            class="formInputError"
            *ngIf="addProductForm.get('moneyValue')?.invalid"
            >* Введите корректную сумму</span
        >
        <tui-input-number
            formControlName="moneyValue"
            [postfix]="'RUB' | tuiCurrency"
        >
            Стоймость
        </tui-input-number>

        <tui-select formControlName="countryValue" [valueContent]="value">
            Страна изготовитель
            <ng-template tuiDataList>
                <tui-data-list>
                    <button
                        *ngFor="let item of countries"
                        tuiOption
                        [value]="item"
                    >
                        <div>{{ item.name }} {{ item.emoji }}</div>
                    </button>
                </tui-data-list>
            </ng-template>
        </tui-select>

        <span
            class="formInputError"
            *ngIf="addProductForm.get('developerValue')?.invalid"
            >* Введите корректное наименование</span
        >
        <tui-input
            tuiTextfieldExampleText="Изготовитель"
            formControlName="developerValue"
            tuiHintContent="A tooltip"
        >
            Бренд
        </tui-input>

        <span
            class="formInputError"
            *ngIf="addProductForm.get('colorValue')?.invalid"
            >* Введите корректный цвет</span
        >
        <tui-input
            tuiTextfieldExampleText="Цвет"
            formControlName="colorValue"
            tuiHintContent="A tooltip"
        >
            Цвет
        </tui-input>

        <span
            class="formInputError"
            *ngIf="addProductForm.get('typeValue')?.invalid"
            >* Введите корректный цвет</span
        >
        <tui-input
            tuiTextfieldExampleText="Цвет"
            formControlName="typeValue"
            tuiHintContent="A tooltip"
        >
            Тип
        </tui-input>

        <tui-select
            class="statusInput"
            tuiTextfieldSize="l"
            formControlName="statusValue"
            [tuiTextfieldCleaner]="true"
            [(ngModel)]="statusModel"
        >
            Статус товара
            <input tuiTextfield placeholder="Статус товара" />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="['Доступен', 'Списан', 'Не доступен']"
            ></tui-data-list-wrapper>
        </tui-select>

        <tui-select
            class="placeInput"
            tuiTextfieldSize="l"
            formControlName="placeValue"
            [tuiTextfieldCleaner]="true"
            [(ngModel)]="placeModel"
            [valueContent]="place"
        >
            Выберите место
            <ng-template tuiDataList>
                <tui-data-list>
                    <button
                        *ngFor="let place of freeSpaces"
                        tuiOption
                        [value]="place"
                    >
                        <div>#{{ place.id }}</div>
                    </button>
                </tui-data-list>
            </ng-template>
        </tui-select>

        <button
            tuiButton
            type="submit"
            appearance="primary"
            size="m"
            class="productCreateButton"
            [disabled]="!addProductForm.valid"
        >
            Добавить товар
        </button>
    </form>
</div>

<ng-template #value let-data>
    <div class="countryNametemplate">
        <div class="name">{{ data.name }} {{ data.emoji }}</div>
    </div>
</ng-template>

<ng-template #place let-data>
    <div class="placetemplate">
        <div class="place">{{ data.id }}</div>
    </div>
</ng-template>

<ng-template #place let-data>
    <div class="placetemplate">
        <div class="place">{{ data.id }}</div>
    </div>
</ng-template>
